<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Interprete 201907131</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
       
    </div>
</nav>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">
                            
                               
                                    <button (click)="analizar()" type="button" class="btn btn-primary">Ejecutar</button>
                                
                               
                                    <button (click)="imprimir()" type="button" class="btn btn-primary">Arbol AST</button>
                               
                                    <input style="display:none;" accept=".ty" type="file" (change)="Archivo($event)"
                                #miarchivo>
                                    <button (click)="miarchivo.click()" type="button" class="btn btn-primary">Subir archivo</button>
                                    <button (click)="guardadito()" type="button" class="btn btn-primary">Guardar archivo</button>
                               
                        </div>
                        <div class="card-body">
                            <div style="width: auto; height: 500px;">
                                <ngx-monaco-editor [formControl]="editorTexto" [options]="editorOptions"
                                    [(ngModel)]="code" (init)="editorInit($event)" #equis></ngx-monaco-editor>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Consola
                            <button (click)="limpiar()"type="button" class="btn btn-primary">Limpiar consola</button>
                        </div>
                        <div class="card-body">
                            <div style="width: auto; height: 500px;">
                                <ngx-monaco-editor [formControl]="consola" [options]="consoleOptions"
                                    [(ngModel)]="console" (init)="editorInit($event)" aria-readonly="true">
                                </ngx-monaco-editor>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
</div>